.film-content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(10vh + 20px) 20px 20px 20px;
    min-height: 100vh;
    background-color: var(--secondary-background);
}

.film-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.film-info__img {
    height: 50vh;
}

.film-info--section {
    width: 60%;
    background-color: var(--block-primary);
    color: var(--text-color-dark);
    padding: 20px;
    border: 2px solid var(--span-color);
    border-radius: 2rem;
}

.film-info--section__name {
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.film-info--section__description {
    margin-bottom: 10px;
}

.film-info--characteristics__paragraph span {
    font-weight: 700;
}

.btn-storytime {
    background-color: var(--input-primary);
    display: block;
    padding: 20px;
    border: 2px solid var(--span-color);
    border-radius: 20px;
    color: var(--text-color-dark);
    text-decoration: none;
    font-size: 20px;
}
